.bookListMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.loadingImg {
  /* height: 10%;
  width: 10%; */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  gap: 1%;
}
