.bookContainer {
  display: flex;
  flex-direction: row;
  background-color: #f0fff1;
  padding: 1%;
  border-radius: 3px;
  box-shadow: 0 0 10px #292f36;
  min-height: 70vh;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.categorySpan {
  /* border: 1px solid #a38560; */
  background-color: #a385609b;
  margin: 1px;
  border-radius: 3px;
  padding: 3px;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
