.bookContainer {
  display: flex;
  flex-direction: row;
  background-color: #f0fff1;
  padding: 2%;
  border-radius: 3px;
  box-shadow: 0 0 10px #292f36;
  min-height: 70vh;
  width: 90vw;
  margin: 0 auto 3% auto;
  position: relative;
}

.addButton {
  padding: 1% 3%;
  font-family: "Lexend Deca", sans-serif;
  color: #292f36;
  background-color: #fc9e5bc0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  width: 80%;
  transition: all 0.3s;
}

.addButton:hover {
  background-color: #fc9e5b;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1%;
  width: 100%;
}

.categorySpan {
  background-color: #a385609b;
  margin: 1px;
  border-radius: 3px;
  padding: 3px;
}

.categoryContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.rightSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1%;
}

.additionalInfo {
  display: flex;
  gap: 5px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #292f365c;
  border-radius: 3px;
  padding: 3px;
}

.subtitle {
  font-size: 0.8rem;
  color: #292f36aa;
}
.externalLink {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #292f36;
  font-size: 1.1rem;
  width: fit-content;
  border-bottom: 2px solid #a385609b;
}

.externalLink:hover svg {
  transform: translate(2px, -2px);
  transition: 0.2s;
  color: #a385609b;
  font-size: 1.5rem;
}

.goBackButton {
  position: absolute;
  top: 2%;
  right: 1%;
  padding: 1% 1%;
  font-family: "Lexend Deca", sans-serif;
  color: #292f36;
  background-color: #fc9e5b8f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}


.goBackButton:hover {
  background-color: #fc9e5b;
}

@media (max-width: 700px) {
  .bookContainer {
    flex-direction: column;
  }
}
