.bookCard {
  /* width: 20%;
  min-height: 30%; */
  background-color: #f0fff1;
  margin: 1% 0;
}

.navLink {
  color: black;
  text-decoration: none;
}

.bookTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  display: block;
}
