.bookCard {
  background-color: #f0fff1;
  height: 400px;
  width: 100%;
  box-shadow: 0 0 5px #292f36;
  border-radius: 3px;
}

.bookCard img {
  width: 100%;
  height: 330px;
  border-radius: 3px 3px 0 0;
}

.navLink {
  color: #292f36;
  text-decoration: none;
}

.bookTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
  display: block;
  font-size: 1.1rem;
}

.bookCard h3,
.bookCard p {
  padding: 0 5px;
}

.bookCard p {
  font-size: 0.9rem;
}

@media (max-width: 400px) {
  .bookCard {
    height: 328px;
  }
  .bookCard img {
    height: 264px;
  }
}
