.header {
  width: 85vw;
  margin: 2% auto;
  min-height: 10vh;
}

.bookifyLogo {
  align-items: end;
  display: inline-flex;
  text-decoration: none;
  color: #292f36;
  font-size: 1.8rem;
  grid-area: home;
}
.bookIcon {
  font-size: 2.5rem;
}
nav {
  display: grid;
  width: 100%;
  grid-template-areas: "home search search search lists";
  grid-template-rows: 2.5rem 1fr;
}

.navLink {
  grid-area: home;
  text-transform: uppercase;
  text-decoration: none;
  color: #292f36;
  align-items: center;
  display: inline-flex;
  align-items: center;
}

form {
  grid-area: search;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.searchButton {
  padding: 1% 3%;
  font-family: "Lexend Deca", sans-serif;
  color: #292f36;
  background-color: #fc9e5bc0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #fc9e5b;
}
.listsContainer {
  grid-area: lists;
}

.categoryButton {
  background-color: #f0fff1;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  border-radius: 6px 0 0 6px;
  color: #292f36;

  cursor: pointer;
  border-right: 1px solid #292f36;
}

input {
  background-color: #f0fff1;
  border: none;
  padding-left: 1%;
  border-radius: 0 6px 6px 0;
  font-family: "Lexend Deca", sans-serif;
  margin-right: 1%;
  width: 30vw;
}

.listsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10%;
}

@media (max-width: 1220px) {
  nav {
    grid-template-areas:
      "home home lists lists"
      "search search search search";
    grid-template-rows: 2.5rem 1fr;
    row-gap: 3vh;
  }

  input {
    width: 50vw;
  }
}

@media (max-width: 650px) {
  input {
    width: 50vw;
  }
  form {
    justify-content: flex-start;
  }
}
