.ratingContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.addButton {
  padding: 1% 3%;
  font-family: "Lexend Deca", sans-serif;
  color: #292f36;
  background-color: #fc9e5bc0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 height: 30px;
 width: 80%;
}

.addButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}