.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}